html,body {
    height: 100%;
}

body {
    background: #00CECB;
    color: #2E282A;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#container textarea {
    width: 500px;
    height: 170px;
    resize: none;
}

#tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#tags spam {
    border: 1px solid #FFED66;
    border-radius: 15px;
    background-color: #FFED66;
    padding: 5px;
}