body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCE1DE;
    font-family: 'Open Sans';
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actual-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.actual-container select {
    margin-left: auto;
}

.target-container {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.target-container input {
    position: absolute;
    right: 28%;
}

.target-container label {
    position: absolute;
    right: 70%;
}

.target-container select {
    margin-left: auto;
}

.input-like {
    border: 1px solid rgba(31, 36, 33, 39%);
    width: 173px;
    height: 19px;
    position: absolute;
    right: 28%;
    background-color: white;    
}
  
  .input-like spam {
    opacity: 100%;
}