body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCE1DE;
    font-family: 'Open Sans';
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actual-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.target-container {
    width: 357.594px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}